<%= will_paginate @places %>
	<div class="grid">
		<div class="row">
<% @places.each do |place| %> 
<!-- ________________________UI STYLE FOR PLACE_______________-->



			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="txthover">
					<%= image_tag(place.image_url, version: :medium) if place.image? %>
						<div class="txtcontent">
							<div class="stars">
								<div class="glyphicon glyphicon-star"></div>
								<div class="glyphicon glyphicon-star"></div>
								<div class="glyphicon glyphicon-star"></div>
							</div>
							<div class="simpletxt">
								<h3 class="name"><%= place.name %></h3>
								<p><%= place.description.truncate(25) %><br>
	 							Come and visit it! </p>
	 							<%= link_to 'SEE MORE',place_path(place) %><br>
	 							<div class="wishtxt">
		 						     
		 							<%= link_to 'Like', place_likes_path(place), method: :post, remote: true, class: 'glyphicon glyphicon-heart' %>
		 							 <% if current_user %>
		 							    <%= link_to 'Unlike', place_like_url(place_id: place, id: current_user.id), method: :delete, class: 'glyphicon glyphicon-fire' %>
		 							  <% end %>
		 						</div>
							</div>
							<div class="stars2">
								<div class="glyphicon glyphicon-star"></div>
								<div class="glyphicon glyphicon-star"></div>
								<div class="glyphicon glyphicon-star"></div>
							</div>
						</div>
				</div>	 
			</div>

			<% end %>

		</div>
	</div>