<%= will_paginate @places %>
	<div class="grid">
		<div class="row">
<% @places.each do |place| %> 
<!-- ________________________UI STYLE FOR PLACE_______________-->



			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="txthover">
					<%= image_tag(place.image_url, version: :medium) if place.image? %>
						<div class="txtcontent">
							<div class="stars">
								<div class="glyphicon glyphicon-star"></div>
								<div class="glyphicon glyphicon-star"></div>
								<div class="glyphicon glyphicon-star"></div>
							</div>
							<div class="simpletxt">
								<h3 class="name"><%= place.name %></h3>
								<p><%= place.description %><br>
	 							Come and visit it! </p>
	 							<%= link_to 'SEE MORE',place_path(place) %><br>
	 							<div class="wishtxt">
		 							<p class="paragraph1"> LIKE <span class="glyphicon glyphicon-heart"></span> </p>
		 						</div>
							</div>
							<div class="stars2">
								<div class="glyphicon glyphicon-star"></div>
								<div class="glyphicon glyphicon-star"></div>
								<div class="glyphicon glyphicon-star"></div>
							</div>
						</div>
				</div>	 
			</div>

			<% end %>

		</div>
	</div>