
	<div class="newslettercontent">
		     <div class="leftside">
<%= image_tag(@place.image.url, version: :medium) if @place.image? %>
                <h1><%= @place.name %></h1>
			    
		     </div>
             <div class="rightside">
             <p class="glyphicon glyphicon-heart"> Likes: <%= @place.likes.count %></p>
             <p>
  <%= link_to 'Edit', edit_place_path(@place) %> |
   <%= link_to 'Delete', @place, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <%= link_to 'Back', places_path %>
            </p>
             </div>
                     <div class="row d-flex align-items-stretch">
                        <div class="text col-md-5">
                             <h1><%= @place.name %></h1>
                                <p><%= @place.description %></p>
                            </div>
                        </div>
                    </div>
    </div>


