<!DOCTYPE html>
<html>
  <head>

    <title>Places</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag('jquery.js') %>
    <%= javascript_include_tag('bootstrap.js') %>
    <meta charset="UTF-8">
    <meta name="description" content="tourism">
    <meta name="author" content="rghost">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="source/font-awesome-4.5.0/css/font-awesome.css">
	<link rel="shortcut icon" href="<%= asset_path 'favicon.png' %>">
	<link rel="glyphicon glyphicon-heart" href="<%= asset_path 'glyphicons-13-heart.png'%>">
	<link rel="glyphicon glyphicon-star" href="<%= asset_path 'glyphicons-49-star-empty.png'%>">
  </head>

  <body>

    <!-- Header -->
<div class="allcontain">
	<div class="header">
			<ul class="socialicon">
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
			</ul>
			<ul class="givusacall">
				<li> mail us: miarhost@gmail.com </li>
			</ul>
			<ul class="logreg">
				        <% if !user_signed_in? %>
                     
        <li><span><%= link_to 'Register', new_user_registration_path %></span> | </li>
        <li><span><%= link_to 'Login', new_user_session_path %></span> | </li>
                        <% else %>
          <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
                                         
                      <% end %>    
  		   </ul>
	</div>
	<!-- Navbar Up -->
	<nav class="topnavbar navbar-default topnav">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed toggle-costume" data-toggle="collapse" data-target="#upmenu" aria-expanded="false">
					<span class="sr-only"> Toggle navigaion</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand logo" href="#"><img src="<%= asset_path 'logo1.jpg' %>" alt="logo"></a>
			</div>	 
		</div>
		<div class="collapse navbar-collapse" id="upmenu">
			<ul class="nav navbar-nav" id="navbarontop">
				<li class="active"><a href="<%= root_path %>">HOME</a> </li>
				<li>
					<a href="#">CONTACT</a>
 
				</li>

			</ul>
		</div>
	</nav>
</div>
 <%= yield %>


   
  </body>
</html>
